.drawer-button {
  background-color: #8d8d8d;
  position: absolute;
  right: 2rem;
  top: 2.4rem;
  padding-inline: 0.2rem;
  padding-bottom: 0.1rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  color: var(--black-1);
}

.drawer-button__text--menu {
}

.drawer-button__text--close {
  display: none;
}
